.contuct {
    font-size: 20px;
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    width: 310px;
}
i span, i a {
    margin: 7px;
}
.icon {
    margin-right: 10px;
}
.title {
    width: 290px;
    text-align: right;
    border-bottom: 1px dotted white;
    padding: 0 5px 5px 5px;
    margin-bottom: 10px;
}